{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div>
        <h1>Ocieplenie klimatu</h1>
    </div>

  <div id="button">
   <ul>
      <li><a href="#">Strona główna</a></li>
      <li><a href="{% url 'about' %}">Twój pomysł</a></li>
   </ul>
</div>

<div><br></br>
  <h1>"Punkt krytyczny"</h1>
  <p><br>Poniżej możesz obejrzeć trailer filmu na temat zmiany klimatu i polityki klimatycznej. Film jest produkcją fundacji WWF. <br></br></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9eb4GRvgih4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div>
    <h1>Działania Unii Europejskiej</h1>
    <p> <br>Unia Europejska wyznaczyła sobie cele w zakrecie klimatu. <br></br>
    Priorytetem jest ograniczenie emisji gazów cieplarnianych oraz zwiększenie udziału energii ze źródeł odnawialnych w całkowitym zużyciu energii w Uni Europejskiej.<br></br>
  Więcej na temat planów UE wobec kryzysu klimatycznego przeczytasz poniżej:<br></br>
<a href="https://ec.europa.eu/clima/policies/strategies/2030_pl">Cele do 2030</a> </p>
</div>

<div>
<h1>Rady specjalisty</h1>
<p><br>Kliknij na link poniżej aby dowiedzieć się jakie sposoby na zmniejszenie zużycia energii proponuje specjalista ds. Polityki Klimatyczno Energetycznej fundacji WWF. <br></br>
<a href="https://www.wwf.pl/srodowisko/klimat/efektywnosc-energetyczna">Zmniejszenie zużycia energii</a> </p>
</div>

<div>
  <h1>Twoje pomysły</h1>
  <p><br>Ta strona została jednak stworzona abyś mógł/mogła podzielić się swoim pomysłem na przeciwdziałanie wobec ocieplenia klimatu. <br></br>
    Wejdź w zakładkę "Twój pomysł" i wyślij nam go! <br></br></p>
</div>

<footer>
<p>  </p>
</footer>

</body>

</html>
